.btn-weixin {
    color: #ffffff;
    background-color: #09bb07;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-qq {
    color: #ffffff;
    background-color: #4D91CD;
    border-color: rgba(0, 0, 0, 0.2);
}

